body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: #e5e8e8;
  color: #4e545c;
}

.caixa-com-botao {
  display: flex;
  margin: 1%;
  align-items: center;
}

.caixa-texto {
  display: flex;
  flex-direction: column;
}

#nome {
  padding: 2%;
  margin: 2%;
  border: 1px solid black;
  border-radius: 2px;
}

#placa {
  padding: 2%;
  margin: 2%;
  border: 1px solid black;
  border-radius: 2px;
}

#cadastrar {
  margin: 5%;
  padding: 2%;
  border: 1px solid black;
  border-radius: 4px;
}

.tabela {
  padding: 1%;
  width: 50%;
}

table {
  border-collapse: collapse;
}

tr {
  text-align: center;
  border: 1px solid;
}

th {
  height: 30px;
  background-color: #4e545c;
  color: white;
}

td {
  height: 40px;
}
